<template>
    <div class="home-container">
        <template for:each={data} for:item="product">
            <div key={nikeId}>
                <template if:true={product.nike}>
                    <h3 key={nikeId}>NIKE</h3>
                </template>

                <template for:each={product.nike} for:item="nike">
                    <div key={nike.id}>
                        <c-nike
                            nike={nike}
                            key={nike.id}
                            cart={cart}
                        ></c-nike>
                    </div>
                </template>
            </div>

            <div key={adidasId}>
                <template if:true={product.adidas}>
                    <h3>ADIDAS</h3>
                </template>
                <template for:each={product.adidas} for:item="adidas">
                    <div key={adidas.id}>
                        <c-adidas adidas={adidas} key={adidas.id}></c-adidas>
                    </div>
                </template>
            </div>

            <div key={underarmourId}>
                <template if:true={product.underarmour}>
                    <h3>UNDER ARMOUR</h3>
                </template>
                <template for:each={product.underarmour} for:item="underarmour">
                    <div key={underarmour.id}>
                        <c-underarmour
                            underarmour={underarmour}
                            key={underarmour.id}
                        ></c-underarmour>
                    </div>
                </template>
            </div>

            <div key={newbalanceId}>
                <template if:true={product.newbalance}>
                    <h3>NEW BALANCE</h3>
                </template>
                <template for:each={product.newbalance} for:item="newbalance">
                    <div key={newbalance.id}>
                        <c-newbalance
                            newbalance={newbalance}
                            key={newbalance.id}
                        ></c-newbalance>
                    </div>
                </template>
            </div>
        </template>
    </div>
</template>
