.flagshipTitle
{
  margin-left: 10%;
  float: left;
  width: 40%;
}

.titles1stGroup
{
  float: left;
  width: 20%;
}

.titles2ndGroup
{
  margin-right: 10%;
  float: left;
  width: 20%;
}

.titles::after
{
  content: "";
  clear: both;
  display: table;
}

.allTitles
{
  /*
  background-color: yellow;
  /**/
  display: flex;
  justify-content: center;
  font-size:2vw;
  padding: 2%;
  margin-right: 10%;
  margin-left: 10%;
}

.btn:hover{background-color: yellow;}

/**/
a:hover {opacity: 80%;}
/**/