<template>
    <section>
        <h3>Contact Us</h3>
        <div class="contactus-container">
            <div class="form-container">
                <form>
                    <div class="mb-3">
                        <input type="text" placeholder="Name" />
                    </div>
                    <div class="mb-3">
                        <input type="email" placeholder="Email" />
                    </div>
                    <div class="mb-3">
                        <input type="tel" placeholder="Phone" />
                    </div>
                    <div class="text-area">
                        <textarea placeholder="message"></textarea>
                        <div>
                            <button>Send</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="contactus-image">
                <img src="../../../resources/images/csupport.jpeg" />
            </div>
        </div>
    </section>
</template>
