.content {
  padding: 8px;
  background-color: #ffffff;
  border-radius: 0.25rem;
}

a {
  color: inherit;
}

img.product {
  max-width: 250px;
  border-radius: 10px;
  margin: 5px;
}

.title {
  font-weight: lighter;
  text-transform: uppercase;
}
