.header
{
  /*
  background-color: grey;
  /**/
  display: flex;
  align-items:center;
}

.logo
{
  width: 40%;
}

.navigation
{
  font-size:2vw;
  display: flex;
  align-items:center;
}

.navLinks
{
  padding: 10px;
  list-style-type: none;
}